.footer-bg-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #161625;
}

.footer-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-heading {
  color: #f8fafc;
  font-family: 'Bree Serif';

  font-size: 16px;
  line-height: 24px;
}

.footer-heading-part-2 {
  color: #007bff;
}

.footer-description {
  font-family: Roboto;

  font-size: 14px;
  line-height: 24px;
  color: #94a3b8;
  margin-top: 12px;
  margin-bottom: 8px;
}

.footer-icons-container {
  width: 70%;
  margin: 16px;
  display: flex;
  justify-content: space-around;
}

@media (min-width: 768px) {
  .footer-heading {
    font-family: Bree Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
  }

  .footer-description {
    font-family: Roboto;

    font-size: 16px;
    line-height: 24px;
  }

  .footer-icons-container {
    width: 80%;
  }
}
.link {
  text-decoration: none;
}
