.dataTabsContainer {
  width: 100%;
  list-style-type: none;
  background-color: #161625;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
}
.category-item {
  text-align: center;
  min-width: 120px;
  width: 25%;
  padding: 25px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .category-item {
    width: 50%;
  }
}

.Confirmed {
  color: #ff073a;
}
.highlightConfirmed {
  background: #331427;
}
.Confirmed:hover {
  background: #331427;
}
.Active {
  color: #007bff;
}
.highlightActive {
  background: #132240;
}
.Active:hover {
  background: #132240;
}
.Recovered {
  color: #28a745;
}
.highlightRecovered {
  background: #182829;
}
.Recovered:hover {
  background: #182829;
}
.Deceased {
  color: #6c757d;
}
.highlightDeceased {
  background: #212230;
}
.Deceased:hover {
  background: #212230;
}

.confirmed-block {
  background: #331427;
}
